[submodule "auth_service"]
	path = auth_service
	url = https://github.com/inferno681/shift_auth_service.git
	branch = main
[submodule "transaction_service"]
	path = transaction_service
	url = https://github.com/inferno681/shift_transaction_service.git
	branch = main
[submodule "face_verification_service"]
	path = face_verification_service
	url = https://github.com/inferno681/shift_face_verification_service.git
	branch = main
